<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="Lijaha" />
    <meta name="renderer" content="webkit">
    <meta name="description" content="Lijaha's Blog" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
    <style>{% include style.css %}</style>
  </head>

  {{ content }}
  <script type="text/javascript">
  function show() {
    var flag = document.getElementById("wechat");
    flag.style.display = "block";
    setTimeout(()=>{flag.style.display = 'none';},3000);
  }
  function show1() {
    var flag = document.getElementById("wechat");
    flag.style.display = "block";
  }
  function hidden() {
    var flag = document.getElementById("wechat");
    flag.style.display = "none";
  }
  </script>
</html>
